body {
    font-family: 'Roboto', sans-serif;
}

hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

ul {
    font-family: 'Roboto Mono', monospace;
}

.line {
    margin-top: 5px;
    display: block;
}

#article-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/*#article-content:focus {*/
    /*outline: none;*/
/*}*/

.cursor {
    border-bottom: 3px solid #0a6bf9;
}

.token-unit {
    color: #757575;
    font-family: 'consolas', monospace;
    font-size: 35px;
}

.correct {
    background-color: #e7fdd4;
    color: #1b6613;
    border-radius: 4px;
    white-space: nowrap;
    outline: 1px solid white;
}

.incorrect {
    background-color: #fabecb;
    color: #850008;
    border-radius: 4px;
    white-space: nowrap;
    outline: 1px solid white;
}

.fixed {
    background-color: #fceab4;
    color: #1d830c;
    border-radius: 4px;
    white-space: nowrap;
    outline: 1px solid white;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
